.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(26px);
    background-color: rgba(0, 0, 0, .2);
    height: 88px;
    font-family: nunito;
    color:white;
    font-size: 20px;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 5;
}

.buttons{
    display: flex;
    justify-content: space-around;
    gap: 25%;
    align-items: center;
}

.nav .header{
    color:white;
    font-family: lora;
    font-size: 32px;
}

.phone{
    font-size: 24px;
    font-weight: bold;
}

.callback p{
    text-align: right;
}

.nav a{
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:hover{
    color: rgba(255, 255, 255, .7);
}

.menu{
    display: none;
}

.burger{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 60%;
    background-color: white;
    z-index: 10;
    padding: 20px;
    visibility: hidden;
}

.burger .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: lora;
}

.burger .footer-order{
    width: 28%;
    font-size: 14px;
}

.burger .header img{
    width: 40px;
    height: 40px;
}

.burger .header img:hover{
    cursor: pointer;
}

.burger a{
    margin: 3% 0;
    color: #343332;
}


@media (max-width: 1100px) {
    .buttons{
        display: none;
    }

    .callback{
        display: none;
    }

    .menu{
        display: inline;
    }
}

